# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APIMART_API_KEY: The API Key for APIMart
APIMART_API_KEY="sk-vkQ5Q2K7Ap8BkQujcjVeFE9xMRrQbJaIR0vo8pP7Jj5aqpR4"

# API_BASE_URL: The base URL for Apimart (default is https://api.apimart.ai/v1)
API_BASE_URL="https://apimart.ai/v1"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
